<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="co.infinum.workshop_4">

    <application
        android:allowBackup="true"
        android:icon="@drawable/jopac"
        android:name=".WorkshopApplication"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data android:name="AA_DB_NAME"
                   android:value="Dolly.db"/>
        <meta-data android:name="AA_DB_VERSION"
                   android:value="1"/>

        <activity
            android:name=".activites.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activites.AddDataToDbActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_add_and_read_from_db">
        </activity>
        <activity
            android:name=".activites.ReadFromDbActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_active_android">
        </activity>
        <activity
            android:name=".activites.DeleteFromDbActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_delete_data_from_db">
        </activity>


    </application>

</manifest>
